
  <body>
       
     <div class="container">
        <div class="row text-center login-page">
                <img src="assets/img/logoNaranja.png" class="row text-center container">
	   <div class="col-md-12 login-form">
            <form> 
                			
	         <div class="row">
		    <div class="col-md-12 login-form-header">
                    <p class="login-form-font-header"><span>Inicio de Sesion</span><p>
		    </div>
		</div>
		<div class="row">
		   <div class="col-md-12 login-from-row">
		      <input name="usuario" type="text" placeholder="Usuario" required/>
		   </div>
		</div>
		<div class="row">
		   <div class="col-md-12 login-from-row">
		      <input name="password" type="password" placeholder="Contraseña" required/>
		   </div>
		</div>
		<div class="row">
		   <div class="col-md-12 login-from-row">
              <button class="btn btn-info">Entrar</button><p></p>
              <a routerLink="links" class="button"> <span> Olvido su contraseña ?</span> </a>
           </div>
		</div>
    </form>
	</div>
     </div>
  </div>

</body>
